div {
  width: 600px;
  height: 340px;
  background-color: blueviolet;
  border: 2px solid blue;
  border-radius: 10px;
  background-image: url(../img/shinchan1.png);
  background-repeat: no-repeat;
  background-position: center;
}

div:hover {
  background-image: url(../img/shinchan2.png);
  background-position: center;
}
